table {
    width: 50%;
    border-collapse: collapse;
    th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    width: 10%; /* Isso garante que todas as colunas tenham a mesma largura */
    }
}

section {
    display: table;
}
  
#editar {
  margin-right: 10px;
}