<div id="home">

    <h1>Curso cadastrado</h1>
    <div class="card">
        <p>nome do curso: {{ aluno.curso.nome }}</p>
        <p>primeiro semestre: {{ aluno.curso.semastre1 }}</p>
        <p>primeiro semestre: {{ aluno.curso.semastre2 }}</p>
    </div>
    <div class="card">
        <p>primeiro semestre: {{ aluno.curso.semastre1 }}</p>
        <p>tividade: entregar ate dia xxxx/xx/xx</p>
        <p>tividade: entregar ate dia xxxx/xx/xx</p>
    </div>
    <div class="card">
        <p>segundo semestre: {{ aluno.curso.semastre2 }}</p>
        <p>tividade: entregar ate dia xxxx/xx/xx</p>
        <p>tividade: entregar ate dia xxxx/xx/xx</p>
    </div>

    <h1>Cursos extras</h1>
    <div class="card">
        <p>nome do curso: Java</p>
        <p>primeiro semestre: Spring</p>
        <p>primeiro semestre: Kafka</p>
    </div>    
    <div class="card">
        <p>nome do curso: Python</p>
        <p>primeiro semestre: Flask</p>
        <p>primeiro semestre: Django</p>
    </div>    
    <div class="card">
        <p>nome do curso: Angular</p>
        <p>primeiro semestre: Components</p>
        <p>primeiro semestre: Diretivas</p>
    </div>
</div>
